* {
  margin: 0;
  padding: 0;
  background-color: 	#25C0C0;
  color: #F3BC50;
}


/*used this tutorial to help with this https://www.youtube.com/watch?v=y5bRZ6Y7Ybg*/
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu {
  background-color: #25b6b6;
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 0 6;
  height:60px;
  width: 100%;
  top: 0;
  transition: background 0.5s;
  margin-bottom: 100px;
}

#logo {
  background-color: #25b6b6;
}

#logo a {
  background-color: #25b6b6;
}

#menu #logo img {
  background-color: #25b6b6;
  margin-left: 20px;
  height: 65%;
  transition: height 0.5s;
  padding-top: 10px;
}

nav {
  width: 33%;
  display: flex;
  align-items: center;
}

#menu h1 {
  background-color: #25b6b6;
  margin-left: 25%;
  display: flex;
  align-items: center;
}

#menu ul {
  background-color: #25b6b6;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  align-items: center;
}


#menu ul li a{
  background-color: #25b6b6;
  font-size: 20px;
  text-decoration: none;
  color: #F3BC50;
  background-size: cover;
  background-position: center center;
}


/*
  Basic idea from https://www.w3schools.com/howto/howto_css_product_card.asp, heavily modified
*/

.products-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  border-radius: 15%;
  overflow: hidden;
  flex-direction: column;
  box-shadow: -8px 8px 20px 0 rgba(0, 0, 0, .5);
  max-width: 300px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

.card img {
  padding: 5px;
}
.card h1 {
  align-self: center;
}

.price {
  color: #FC8BC0;
  font-size: 22px;
}

.card button {
  background-color: #FC8BC0;
  padding: 8px;
  color: #ddd;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  transition: ease-in-out .3s;
}

#top-row {
  margin-top: 100px;
}

#about-us {
  font-family: cursive;
  font-size: 20px;
  margin-top: 100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 50%;
  word-wrap: break-word;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 50%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

form textarea {
  color: #ddd;
}

input::placeholder {
  color: #ddd;
}

select {
  color: #ddd;
}

select option {
  color: #ddd;
}

label input {
  color: #ddd;
  display: inline-block;
  float: right;
  clear: right;
  width: 60%;
  text-align: left;
}

#contact-form button {
  padding: 6px;
}